
.backcol{
  background-color: #b5b5b7;
}

.navbar {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0.3%;
  padding-bottom: 0.3%;

  border: 0px;
  border-radius: 0;
  border-color: #252839 !important ;
  border-width: 0 0 1px;

  font-size: 115% !important;
  letter-spacing: 2px;
  background-color: #252839 !important ;
  color: #ffffff !important;
}

.navbar-nav  li a:hover {
    color: #6090c4 !important;
    background-color: #3c415d !important;
  }

.active-but{
    background-color: #3c415d;
}

.texx{
  color: #f2b632 !important;
  font-size: 140% !important;
  letter-spacing: 3px;
  font-family: 'Kaushan Script', cursive;
  background-color: #000000 !important;
}

.topbuttons{
  color:#ffffff !important;
  font-size: 70% !important;
}

.maincontents{
  padding-top: 50px !important;
}

.dottext {
  color: #000000 !important;
  bottom: 32% !important;
}

.coro {
  margin-bottom: 1.5% !important;
}

.bottom-buttons {
  background-color: #252839 !important;
  color: #f2b632 !important;
  font-size: 100% !important;

  padding-bottom: 1.5% !important;
  padding-top: 1.5% !important;
  border-radius: 0px !important;
  border-color: #b5b5b7 !important;
  border-left-color:#b5b5b7 !important;
  border-top-width: 0.75% !important;
  border-left-width:10px !important;
  border-bottom-width: 10px !important;
  border-style: solid !important;
}

 .btmright{
  border-right-color:#b5b5b7 !important;
  border-right-style:solid !important;
  border-right-width:10px !important;

 }

.pressbutton :hover {
  color: #252839 !important;
  background-color: #f2b632 !important;
}

.active-but{
  background-color: #3c415d;
}

 body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
      margin: 1.5% ;
      padding: 1% !important;
      border-style:solid !important;
      border-color:#b5b5b7 !important;
      border-left-width:40px !important;
      border-right-width: 40px !important;
  }

  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      margin: 1.5% ;
      padding: 2% !important;
      border-style:solid !important;
      border-color:#b5b5b7 !important;
      border-left-width:40px !important;
      border-right-width: 40px !important;
  }
  .bg-3 {
          margin: 1.5% ;
      padding: 2% !important;
      border-style:solid !important;
      border-color:#b5b5b7 !important;
      border-left-width:40px !important;
      border-right-width: 40px !important;
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }